{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}

<h1 class="text-4xl text-gray-800 m-5 md:max-w-lg md:mx-auto">New account</h1>
<div class="md:max-w-lg md:mx-auto m-5">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-white" type='submit'>Signup</button>
    </form>
    <div class='mt-5 mb-10 border-t border-gray-500 pt-2'><a class="hover:text-blue-500 mt-3" href="{% url 'login' %}">Already have an account?</a></div>
</div>

{% endblock content %}