<header class="text-gray-600 body-font font-semibold">
  <div class="max-w-7xl mx-auto">
    <header class="text-gray-600 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center space-y-2">
        <a href="{% url 'landing-page' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
            viewBox="0 0 24 24">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5.931 6.936l1.275 4.249m5.607 5.609l4.251 1.275" />
            <path d="M11.683 12.317l5.759 -5.759" />
            <circle cx="5.5" cy="5.5" r="1.5" />
            <circle cx="18.5" cy="5.5" r="1.5" />
            <circle cx="18.5" cy="18.5" r="1.5" />
            <circle cx="8.5" cy="15.5" r="4.5" />
          </svg>

          <span class="ml-3 text-4xl font-lobster">Reff</span>
        </a>
        <nav
          class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-row items-center text-base justify-center space-x-2">

          <!-- <a href="{% url 'entries:entry-list' %}" class="mr-5 hover:text-gray-900">Entries</a> -->

          <a href="{% url 'entries:entry-list' %}">
            <button type="button"
              class="focus:outline-none text-white text-base py-1.5 px-4 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg flex items-center">
              <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="12 4 4 8 12 12 20 8 12 4" />
                <polyline points="4 12 12 16 20 12" />
                <polyline points="4 16 12 20 20 16" />
              </svg>
              Entries
            </button>
          </a>

          {% if request.user.is_authenticated %}
          <!-- <a href="{% url 'entries:entry-list' %}?by_me=true" class="mr-5 hover:text-gray-900">My Entries</a> -->
          <!-- <a href="{% url 'entries:entry-list' %}?likes=true" class="mr-5 hover:text-gray-900">My Likes</a> -->

          <a href="{% url 'entries:entry-list' %}?likes=true">
            <button type="button"
              class="focus:outline-none text-white text-base py-1.5 px-4 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg flex items-center">
              <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path
                  d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
              </svg>
              My likes
            </button>
          </a>


          {% endif %}

        </nav>

        <div class="flex md:flex-row flex-col md:pt-0 pt-2 justify-center sm:space-x-5">
          {% if not request.user.is_authenticated %}
          <div class="flex flex-wrap content-center">
            <a href="{% url 'signup' %}" class="hover:text-gray-900 mx-auto">Signup</a>
          </div>
          {% endif %}
          {% if request.user.is_authenticated %}
          <div>
            <a class="">
              <div class="rounded-full border-4 px-3 py-2 flex flex-row space-x-1 mx-auto">
                <div class="font-light"> Logged in as: </div>
                <div class="font-bold">{{ request.user.username }} </div>
              </div>
            </a>
          </div>
          <div class="flex flex-wrap content-center">
            <a href="{% url 'logout' %}"
              class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 mx-auto">Logout
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
          {% else %}
          <div class="flex flex-wrap content-center">
            <a href="{% url 'login' %}"
              class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 mx-auto">Login
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
          {% endif %}
        </div>

      </div>
    </header>
  </div>
  </div>
  </nav>
  </div>
</header>