{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<hr />
<div class="max-w-lg mx-auto mt-10">
    <h1 class="text-xl text-gray-800">Are you sure you want to delete the following entry?</h1>
    <h1>Source: {{ entry.source }}</h1>
    <!-- 'action="."' below indicated where the form is submitted. '.' means current URL -->
    <form method="POST" action=".">
        <!-- The csrf token below is good security implementation for form submission within Django -->
        {% csrf_token %}
        {{ form|crispy }}

        <button class="bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md text-white mt-5" type="submit"> Delete </button>
    </form>
    <div class='mt-5 mb-10 border-t border-gray-500 pt-2'><a class="hover:text-blue-500 mt-3 text-xl" href="{% url 'entries:entry-list' %}">Back to entry list</a></div>
</div>
{% endblock content %}