{% extends "base.html" %}

{% block content %}

        <a href="{% url 'entries:entry-list' %}">Go back to the entry list.</a> 
        <h2>Create a new entry</h2>
        <!-- 'action="."' below indicated where the form is submitted. '.' means current URL -->
        <form method="POST" action=".">
            <!-- The csrf token below is good security implementation for form submission within Django -->
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit"> Submit </button>
        </form>

{% endblock content %}
 