{% extends 'base.html' %}

{% load app_filters %}

{% block content %}

<body class="antialiased font-sans">
    <div class="container mx-auto px-4 sm:px-8">
        <div class="mb-2 py-2 flex justify-between items-center border-b border-gray-200 w-full">
            <div>
                {% ifequal by_me 'true' %}
                <h1 class="text-4xl text-gray-800">My Entries</h1>
                {% else %}
                <h1 class="text-4xl text-gray-800">Entries</h1>
                {% endifequal %}

            </div>
            <div>
                <a class="bg-blue-500 hover:bg-blue-600 px-3 py-2 m-1 rounded-md text-white font-bold"
                    href="{% url 'entries:entry-create' %}">New Entry</a>
                <a class="bg-gray-400 hover:bg-gray-600 px-3 py-2 m-1 rounded-md text-white font-bold"
                    href="{% url 'entries:entry-create-request' %}">New Request-type Entry</a>
            </div>
        </div>
        <div class="py-1">
            <div>
                <h2 class="text-2xl font-semibold text-gray-400 leading-tight">Category: {{ category }}</h2>
            </div>
            <div class="my-2 flex sm:flex-row flex-col">
                <div class="flex flex-row mb-1 sm:mb-0">
                    <div class="relative">
                        <select
                            onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
                            class="appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-7 pr-20 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option>Select category</option>
                            <option value="{% url 'entries:entry-list' %}?&category=all&by_me={{ by_me }}&likes={{ likes }}">All</option>
                            <option value="{% url 'entries:entry-list' %}?&category=Tech&by_me={{ by_me }}&likes={{ likes }}">Tech
                            </option>
                            <option value="{% url 'entries:entry-list' %}?&category=Health&by_me={{ by_me }}&likes={{ likes }}">Health
                            </option>
                            <option value="{% url 'entries:entry-list' %}?&category=Politics&by_me={{ by_me }}&likes={{ likes }}">Politics
                            </option>
                            <option value="{% url 'entries:entry-list' %}?&category=History&by_me={{ by_me }}&likes={{ likes }}">History
                            </option>
                            <option value="{% url 'entries:entry-list' %}?&category=Education&by_me={{ by_me }}&likes={{ likes }}">
                                Education</option>
                            <option value="{% url 'entries:entry-list' %}?&category=Sports&by_me={{ by_me }}&likes={{ likes }}">Sports
                            </option>
                            <option value="{% url 'entries:entry-list' %}?&category=Business&by_me={{ by_me }}&likes={{ likes }}">Business
                            </option>
                            <option value="{% url 'entries:entry-list' %}?&category=Science&by_me={{ by_me }}&likes={{ likes }}">Science
                            </option>
                            <option value="{% url 'entries:entry-list' %}?&category=Other&by_me={{ by_me }}&likes={{ likes }}">Other
                            </option>

                        </select>

                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="block relative">
                    <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                            <path
                                d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                            </path>
                        </svg>
                    </span>
                    <!-- <input placeholder="Search"
                        class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" /> -->
                    <form
                        class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                        action="{% url 'entries:entry-list' %}" method="get">
                        <input type="hidden" name="category" value="{{ category }}">
                        <input type="hidden" name="by_me" value="{{ by_me }}">
                        <input type="hidden" name="likes" value="{{ likes }}">
                        <input name="search" type="text" placeholder="Search entries">
                    </form>
                </div>

            </div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div>
                    <div class="flex flex-wrap">
                        {% for entry in page_obj %}
                        <div class="p-4 lg:w-1/2 md:w-full">
                            <div
                                class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                                <div
                                    class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0">

                                    <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                                        {% if entry.category == 'Tech' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="3" y1="19" x2="21" y2="19" />
                                        <rect x="5" y="6" width="14" height="10" rx="1" />
                                        {% elif entry.category == 'Health' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1" />
                                        <path d="M8 15a6 6 0 1 0 12 0v-3" />
                                        <path d="M11 3v2" />
                                        <path d="M6 3v2" />
                                        <circle cx="20" cy="10" r="2" />
                                        {% elif entry.category == 'Politics' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="3" y1="21" x2="21" y2="21" />
                                        <line x1="3" y1="10" x2="21" y2="10" />
                                        <polyline points="5 6 12 3 19 6" />
                                        <line x1="4" y1="10" x2="4" y2="21" />
                                        <line x1="20" y1="10" x2="20" y2="21" />
                                        <line x1="8" y1="14" x2="8" y2="17" />
                                        <line x1="12" y1="14" x2="12" y2="17" />
                                        <line x1="16" y1="14" x2="16" y2="17" />
                                        {% elif entry.category == 'History' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <polyline points="12 8 12 12 14 14" />
                                        <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                                        {% elif entry.category == 'Education' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                                        {% elif entry.category == 'Sports' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="15" y1="9" x2="9" y2="15" />
                                        <line x1="10" y1="12" x2="12" y2="14" />
                                        <line x1="12" y1="10" x2="14" y2="12" />
                                        <path d="M8 21a5 5 0 0 0 -5 -5" />
                                        <path
                                            d="M16 3c-7.18 0 -13 5.82 -13 13a5 5 0 0 0 5 5c7.18 0 13 -5.82 13 -13a5 5 0 0 0 -5 -5" />
                                        <path d="M16 3a5 5 0 0 0 5 5" />
                                        {% elif entry.category == 'Business' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="12" cy="12" r="9" />
                                        <path
                                            d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 0 0 0 4h2a2 2 0 0 1 0 4h-2a2 2 0 0 1 -1.8 -1" />
                                        <path d="M12 6v2m0 8v2" />
                                        {% elif entry.category == 'Science' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <line x1="9" y1="3" x2="15" y2="3" />
                                        <line x1="10" y1="9" x2="14" y2="9" />
                                        <path d="M10 3v6l-4 11a0.7 .7 0 0 0 .5 1h11a0.7 .7 0 0 0 .5 -1l-4 -11v-6" />
                                        {% elif entry.category == 'Other' %}
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M6.141 4.163l12 1.714a1 1 0 0 1 .859 .99v10.266a1 1 0 0 1 -.859 .99l-12 1.714a1 1 0 0 1 -1.141 -.99v-13.694a1 1 0 0 1 1.141 -.99z" />
                                        {% else %}
                                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                                    </svg>
                                    {% endif %}


                                </div>
                                <div class="flex-grow truncate">
                                    <!-- Below, additional_info is a dictionary, get_value is our custom filter and entry is the key to lookup in the dictionary -->
                                    <!-- <div class="font-bold">{{ additional_info_2|get_value:entry.id }} </div> -->
                                    <div class="Stars" style="--rating: {{ additional_info_2|get_value:entry.id }};"
                                        aria-label="Star rating"></div>
                                    {% include 'entries/star_rating.html' %}
                                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3"> 
                                        {{ additional_info|get_value:entry.id }}
                                    </h2>
                                    <p class="leading-relaxed text-base">{{ entry.fact }}</p>
                                    <a href="{% url 'entry-detail-short-url' entry.short_url %}"
                                        class="mt-3 text-blue-500 inline-flex items-center">View
                                        details
                                        <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2"
                                            viewBox="0 0 24 24">
                                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                        <span class="text-xs xs:text-sm text-gray-900">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} ({{ num_entries }} total
                            entries)
                        </span>
                        <div class="inline-flex mt-2 xs:mt-0">
                            {% if page_obj.has_previous %}
                            <a
                                href="{% url 'entries:entry-list' %}?page={{ page_obj.previous_page_number }}&category={{ category }}&by_me={{ by_me }}&likes={{ likes }}">
                                <button
                                    class="text-sm bg-gray-200 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l">
                                    Prev
                                </button>
                            </a>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <a
                                href="{% url 'entries:entry-list' %}?page={{ page_obj.next_page_number }}&category={{ category }}&by_me={{ by_me }}&likes={{ likes }}">
                                <button
                                    class="text-sm bg-gray-200 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r">
                                    Next
                                </button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}