<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <style>
        .entry {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            maring-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
        </style>
    </head>
    <body>
        <a href="{% url 'entries:entry-create' %}">Create new entry</a>
        <hr />
        <h1>These are all of our entries:</h1>
        {% for entry in entries %}
            <div class="entry">
                <a href="{% url 'entries:entry-detail' entry.pk %}"> {{ entry.fact }} </a> | {{ entry.source }} | {{ entry.credibility }} 
            </div> 
        {% endfor %}
    </body>
</html>