{% extends "base.html" %}


{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-10 mx-auto">
    <div class="lg:w-3/5 mx-auto flex flex-wrap">
      <div class="lg:w-4/5">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Category</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ entry.category }}</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-blue-500 border-b-2 border-blue-500 py-2 text-lg px-1 font-semibold">Fact</a>
          <a href="{% url 'entries:review-create' entry.pk %}"
            class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 hover:bg-gray-100">Review</a>
          <a href="{% url 'entries:entry-update' entry.pk %}"
            class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 hover:bg-gray-100">Update</a>
        </div>
        <p class="leading-relaxed mb-4 font-mono italic">{{ entry.fact }}</p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Source</span>
          <span class="ml-auto text-gray-900 font-semibold text-blue-500 hover:text-blue-800"><a href="{{ entry.source }}">{{ source_domain }}</a></span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Created by</span>
          <span class="ml-auto text-gray-900">{{ entry.user }}</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Date created</span>
          <span class="ml-auto text-gray-900">{{ entry.date_created | date:"d F Y" }}</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">Reviewed by</span>
          <span class="ml-auto text-gray-900">x users</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900">Score: 0</span>
          <button
            class="flex ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded font-semibold">See
            reviews</button>
          <button
            class="rounded-full w-10 h-10 bg-gray-200 hover:bg-gray-300 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path
                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z">
              </path>
            </svg>
          </button>
          <button onclick="copyToClipboard()"
            class="rounded-full w-10 h-10 bg-gray-200 hover:bg-gray-300 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
              <rect x="9" y="3" width="6" height="4" rx="2" />
            </svg>
          </button>
          
          <script>
            function copyToClipboard(text) {
              var inputc = document.body.appendChild(document.createElement("input"));
              inputc.value = window.location.href;
              inputc.focus();
              inputc.select();
              document.execCommand('copy');
              inputc.parentNode.removeChild(inputc);
              alert("URL Copied.");
            }
          </script>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}