<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <style>
        .entry {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            maring-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
        </style>
    </head>
    <body>
        <a href="/entries">Go back to the entry list.</a> 
        <h1>This is the details of {{ entry.fact }} </h1>
        <p> Source: {{ entry.source }} || Credibility: {{ entry.credibility }}</p>
    </body>
</html>