{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-3/5 mx-auto flex flex-wrap">
            <div class="lg:w-4/5">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">Category</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ entry.category }}</h1>
                <div class="flex mb-4">
                    <a href="{% url 'entry-detail-short-url' entry.short_url %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 hover:bg-gray-100">Fact</a>
                    <a href="{% url 'entries:review-create' entry.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 hover:bg-gray-100">Review</a>
                    <a href="{% url 'entries:entry-update' entry.pk %}"
                        class="flex-grow text-blue-500 border-b-2 border-blue-500 py-2 text-lg px-1">Update</a>
                </div>

                <form method="POST">
                    <!-- The csrf token below is good security implementation for form submission within Django -->
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class='flex-row'>
                        <button
                            class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded">Submit</button>
                        <button
                            class="ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded"><a
                                href="{% url 'entries:entry-delete' entry.pk %}">Delete</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock content %}