{% extends "base.html" %}

{% block content %}

        <a href="{% url 'entries:entry-list' %}">Go back to the entry list</a> 
        <hr />
        <h1>This is the details of {{ entry.fact }} </h1>
        <p> Source: {{ entry.source }} || Credibility: {{ entry.credibility }}</p>
        <p> This entry was contributed by: {{ entry.user }}</p>
        <hr />
        <a href="{% url 'entries:entry-update' entry.pk %}">Update</a>
        <a href="{% url 'entries:entry-delete' entry.pk %}">Delete</a>

{% endblock content %}