{% extends "base.html" %}

{% block content %}

        <a href="{% url 'entries:entry-detail' entry.pk %}">Go back to entry details</a> 
        <hr />
        <h2>Update the entry: {{ entry.fact }}</h2>
        <!-- 'action="."' below indicated where the form is submitted. '.' means current URL -->
        <form method="POST">
            <!-- The csrf token below is good security implementation for form submission within Django -->
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit"> Submit </button>
        </form>
        
{% endblock content %}