{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<h1 class="text-4xl text-gray-800 mx-auto max-w-lg mt-5">New review</h1>
<div class="max-w-lg mx-auto mt-5">
    <!-- 'action="."' below indicated where the form is submitted. '.' means current URL -->
    <form method="POST" action=".">
        <!-- The csrf token below is good security implementation for form submission within Django -->
        {% csrf_token %}
        {{ form|crispy }}

        <button class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-white" type="submit"> Submit
        </button>
    </form>
    <div class='mt-5 mb-10 border-t border-gray-500 pt-2'><a class="hover:text-blue-500 mt-3 text-xl" href="{% url 'entries:entry-list' %}">Back to entry list</a></div>
</div>

{% endblock content %}