{% extends "base.html" %}


{% block content %}

<div class="text-8xl font-shadows">Test</div>
<h1 class="text-8xl font-cookie">Let's get it</h1>
<h1 class="text-8xl font-epilogue">Let's get it</h1>
<h1 class="text-8xl font-source_sans_pro">Let's get it</h1>
<h1 class="text-8xl font-jet_brains_mono">Let's get it</h1>
<h1 class="text-8xl font-lobster">Reff</h1>

<div class="inline-block mr-2 mt-2">
    <a href="www.google.com">
        <button type="button"
            class="focus:outline-none text-white text-sm py-1.5 px-5 border-b-4 border-blue-600 rounded-md bg-blue-500 hover:bg-blue-400 font-semibold">View</button>
    </a>
</div>

{% endblock content %}