{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<hr />
<div class="max-w-lg mx-auto mt-10">
    {% if are_users_the_same == True %}
    <h1 class="text-xl text-gray-800">Are you sure you want to delete the entry?</h1>
    <!-- 'action="."' below indicated where the form is submitted. '.' means current URL -->
    <form method="POST" action=".">
        <!-- The csrf token below is good security implementation for form submission within Django -->
        {% csrf_token %}
        {{ form|crispy }}

        <button class="bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md text-white mt-5 font-bold" type="submit"> Delete </button>
    </form>
    {% else %}
    <div class="flex flex-col md:pr-10 md:mb-0 mb-6 pr-0 w-full md:w-auto md:text-left text-center">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ACCESS DENIED
        </h2>
        <h1 class="md:text-3xl text-2xl font-medium title-font text-gray-900">You are not the original
            creator
        </h1>
    </div>
    {% endif %}
    <div class='mt-5 mb-10 border-t border-gray-500 pt-2'><a class="hover:text-blue-500 mt-3 text-xl" href="{% url 'entries:entry-list' %}">Back to entry list</a></div>
</div>
{% endblock content %}